@charset "utf-8";
/* css */

body {
  margin: auto;
  max-width: 1920px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: #fcfffc;
}

header {
  height: 300px;
  background-color: #1C2321;
  background-image: url(../images/header-logo.png);
  background-repeat: no-repeat;
  background-position: right;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

header::before {
  content: "";
  background-image: url(../images/handmade-paper.png);
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
}

h1 {
  margin: 5%;
}

nav {

  background-color: #EEF1EF;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(../images/handmade-paper.png);
}

nav ul {
  padding: 0;
}

nav ul li {
  display: inline;
  list-style-type: none;
  height: 100px;
}

a {
  text-decoration: none;
  color: #040f0f;
}

a:hover {
  text-decoration: underline;
}

main {
  padding: 30px;
  background-color: darkolivegreen;
  min-height: 74.5vh;
  background-image: url(../images/handmade-paper.png);
}

p {
  margin: 2%;
}

footer {
  background-color: #2a2d32;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url(../images/handmade-paper.png);
  padding-top: 29px;
}

footer a {
  color: #fcfffc;
  align-self: flex-end;
  margin: 0 10px 10px 0;
}

@media only screen and (max-width: 1024px) {
  main {
    padding: 0;
  }

  header {
    justify-content: flex-start;
  }

  body {
    font-size: smaller;
  }
}